<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="../../../Files/properties.config"/>-->

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="oracle11.2"/>
    <!--<dataSource name="KtcMeter" connectionString="Data Source=172.20.0.10:1521/ORCL2;user id=KTC_METER_DB;password=ktc!@#4;"/>-->
    <dataSource name="JSBoots" connectionString="Data Source=211.43.220.154,1433;Initial Catalog=gMall2;User ID=sa;Password=emworks0409;"/>
  </database>
  <sqlMaps>

    <sqlMap resource="../JS.Boots.BizDac/UserMng/User.xml" />
    <sqlMap resource="../JS.Boots.BizDac/Common/Common.xml" />
    <!--
    <sqlMap resource="../JS.Boots.BizDac/Bbs/BbsMng.xml" />
    <sqlMap resource="../JS.Boots.BizDac/Bbs/Bbsctt.xml" />
    <sqlMap resource="../JS.Boots.BizDac/Atchmnfl/Atchmnfl.xml" />
    <sqlMap resource="../JS.Boots.BizDac/UserMng/Empl.xml" />
    <sqlMap resource="../JS.Boots.BizDac/UserMng/Entrprs.xml" />
    <sqlMap resource="../JS.Boots.BizDac/UserMng/EntrprsUser.xml" />
    <sqlMap resource="../JS.Boots.BizDac/UserMng/IndvdlUser.xml" />
    <sqlMap resource="../JS.Boots.BizDac/UserMng/Instt.xml" />
    <sqlMap resource="../JS.Boots.BizDac/UserMng/InsttUser.xml" />
    <sqlMap resource="../JS.Boots.BizDac/UserMng/Profile.xml" />
    <sqlMap resource="../JS.Boots.BizDac/UserMng/SignguUser.xml" />
    <sqlMap resource="../JS.Boots.BizDac/FormConsent/FormConsent.xml" />
    <sqlMap resource="../JS.Boots.BizDac/FormConsent/FrmPopup.xml" />
    <sqlMap resource="../JS.Boots.BizDac/FormConsent/Statistics.xml" />
    <sqlMap resource="../JS.Boots.BizDac/ZipCode/LnmAdres.xml" />
    <sqlMap resource="../JS.Boots.BizDac/ZipCode/Rdnmadr.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/Menu.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/AuthorGroup.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/AuthorGroupEmplyr.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/AuthorGroupMenu.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/CmmnCode.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/Popup.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/Banner.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/EmplyrConectHist.xml" />
    <sqlMap resource="../JS.Boots.BizDac/SystemMng/AuthorGroupEmplyrHist.xml" />
    <sqlMap resource="../JS.Boots.BizDac/PostMng/NonLegalunitManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/OptionWorkMng/JobContact.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/Inspection/Inspection.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/Inspection/IptPopup.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/SendSms/SendSms.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/ContentsMng/TchnlgyStdr.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/Test.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/Stats/Stats.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/FdrmPrsecManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/RepairAthrzManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/RegltInfoManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/OnslfRepairInfoManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/OnslfAthrzInfoManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/OnslfFdrmExamerLiManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/RlQyMng/RlQyIndictMgntcStblt.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/RlQyMng/RlQyIndictPosmant.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/RlQyMng/UnlawMesurSttemntManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/MrnrExchngInfoManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/CnsmrWtchmanInfoDetailManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/OptionWorkMng/FeeManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PortalMain/PortalMain.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/PostMng/MrnrPrductShrtcomInfoManage.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/Product/Product.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/AdminMain/AdminMain.xml"/>
    <sqlMap resource="../JS.Boots.BizDac/Dashboard/Dashboard.xml"/>
    -->
  </sqlMaps>
</sqlMapConfig>