@using ArchFx.ExtensionMethod
@using JS.Boots

@using JS.Boots.Data
@using JS.Boots.Data.Member

@{
    ViewBag.Title = "Discount / Saved Money";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Views/Admin/Login.js?date=@DateTime.Now.ToString("yyyyMMddhhmmss")" type="text/javascript"></script>
    <script src="~/Scripts/Common.js?date=@DateTime.Now.ToString("yyyyMMddhhmmss")" type="text/javascript"></script>
}

<h2>@ViewBag.Title</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DiscountSave</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
