@using JS.Boots

@{
    ViewBag.Title = "_AdminFooter";
}

<!-- footer -->
<div id="footer">
    <h2 class="blind">하단메뉴</h2>
    <p class="f_logo"><img src="@Images.PortalImagesPath/common/f_logo.gif" alt="관리시스템" /></p>
    <div class="f_area">
        <address class="address" style="padding-top:12px;">
            <p><img src="@Images.AdminImagesPath/common/f_address.gif" alt="" />&nbsp;<img src="@Images.AdminImagesPath/common/f_copy.gif" alt="" /></p>
        </address>
    </div>
</div>
<!-- //footer --> 