@using JS.Boots
@{
    Layout = "";
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand"><!--<img src="http://sa.jangsoobed.co.kr/gigaadminv5/images/logo.gif" class="img-thumbnail" />-->Made In GangNam</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="MembManage">회원관리 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="MemManage">
                        <li><a href="../MembManage/">회원관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../Menu/MenuMng/">메뉴관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../MallManage/">몰관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../DiscSaved/">상품할인/적립금관리</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="SalesCalc">매출/정산 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="SalesCalc">
                        <li><a href="../SalesState/">매출현황</a></li>
                        <li class="divider"></li>
                        <li><a href="../CalcState/">정산현황</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Product">상품관리 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="Product">
                        <li><a href="../Category/">카테고리</a></li>
                        <li class="divider"></li>
                        <li><a href="../ProductManage/">상품관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../PaymentFee/">결제수수료</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="OrderDelivery">주문/배송 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="OrderDelivery">
                        <li><a href="../OrderManage/">주문관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../DeliveryManage/">배송관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../DeliveryManage/">배송비</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="CancelReturn">취소/반품/교환 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="CancelReturn">
                        <li><a href="../CancelManage/">취소관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../ReturnManage/">반품관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../StatementManage/">입/출금관리</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Customer">고객센터 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="Customer">
                        <li><a href="../Board/Notiece/">공지사항</a></li>
                        <li class="divider"></li>
                        <li><a href="../Board/Individual/">1:1문의</a></li>
                        <li class="divider"></li>
                        <li><a href="../Board/Product/">상품문의</a></li>
                        <li class="divider"></li>
                        <li><a href="../Board/GoodsReply/">상품평관리</a></li>
                        <li class="divider"></li>
                        <li><a href="../Board/Faq/">FAQ관리</a></li>
                    </ul>
                </li>
                <!--
                    
                <li>
                    <a href="http://news.bootswatch.com">Blog</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Cerulean <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a href="http://jsfiddle.net/bootswatch/9y480qo5/">Open Sandbox</a></li>
                        <li class="divider"></li>
                        <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                        <li><a href="./bootstrap.css">bootstrap.css</a></li>
                        <li class="divider"></li>
                        <li><a href="./variables.less">variables.less</a></li>
                        <li><a href="./bootswatch.less">bootswatch.less</a></li>
                        <li class="divider"></li>
                        <li><a href="./_variables.scss">_variables.scss</a></li>
                        <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
                <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
            </ul>
            -->

        </div>
    </div>
</div>