@using JS.Boots

@{
    ViewBag.Title = "_AdminFooter";
}

<!-- footer -->

<footer>
    <p>&copy; Copyright @DateTime.Now.Year JangSooBed. 모든 권리 보유.  </p>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</footer>
<!-- //footer --> 